__pycache__/
*.pyc
# Environment
.env
*.env

# IDE
.idea/

# Build artifacts
build/
dist/
*.spec
*.dmg
*.zip
*.app

# Temporary test folders
test_install/

# Old generated QR test images
src/QR/images/
